// Файл подключения bootstrap, здесь же будут переопределены переменные bootstrap
// по умолчанию.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


@import "theme/theme";

$font-family-base: Rounded Elegance;
$enable-responsive-font-sizes: true;

// Цвета
$body-color: $theme-text-color;

$theme-colors: (
	"white":  $white,
	"orange": $theme-orange,
	"gray-1": $gray-100,
	"gray-2": $gray-200,
	"gray-3": $gray-300,
	"gray-4": $gray-400,
	"gray-5": $gray-500,
	"gray-6": $gray-600,
	"gray-7": $gray-700,
	"gray-8": $gray-800,
	"gray-9": $gray-900
);

$border-radius: 1rem;


@import '~bootstrap/scss/bootstrap';