$display5-size: 2.5rem;
$display5-weight: 300;

// Theme colors
$theme-orange: #f89646;
$theme-text-color: #212121;

// Borders
$theme-border-width: 5px;

.display-5 {
//  @include font-size($display5-size);
  font-weight: $display5-weight;
  line-height: $display-line-height;
}

.border-theme {
	border: $theme-border-width solid $theme-orange !important;;
}